header, footer {  
    background-color: #282829;
    padding: 15px 100px;  
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-title {
    display: flex;
    gap: 30px;

}

.header-title a{
    color: #FFFFFF;
    text-decoration: none;
}

h1 {
    color: #000000;
    font-family: 'Inter';
    font-weight: 500;
    font-size: 88px;
    line-height: 93px;
    letter-spacing: 0%;
    text-align: center;   
    margin: 114px 349px; 
}

.box {
    width: 393px;
    height: 410px;
}


p {
    color: #000000;
    font-family: 'Inter';
    font-weight: 400;
    font-size: 14px;
    line-height: 23px;
    letter-spacing: 0%;
    text-align: center;    
}

h3 {
    font-family: 'Inter';
    font-weight: 600;
    font-size: 28px;
    line-height: 100%;
    letter-spacing: 0%;   
    color: #000000; 
    text-align: center;
}

.parent-container {
    display: flex;
    justify-content: space-evenly;
    margin: 0px 100px 0px 100px;
    gap: 30px;
}

.parent-container2 {
    display: flex;
    justify-content: space-evenly;
    margin: 60px 100px 102px 100px;
    gap: 30px;
}
